# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
tfplan.out
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/

# .NET
bin/
obj/

# Docker
*.tar

# Next.js
.next/
